body {
  background-color: rgba(17, 17, 17, 1);
  color: white;
  margin: 0;
  width: 100%;
  background-image: url("./IMAGE/bgc.svg") !important;
  background-size: cover;
  background-repeat: no-repeat;
}

/* info block */
.info-block {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 28px;
  width: 100%;
}

.info-block-h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 34%;
  margin-top: 250px;
  cursor: default;
}
/* info block */

/* scrol */
.scrol {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 90px;
  cursor: default;
}

.scrol-img {
  margin: 0 10px 0 0;
}
/* scrol */

/* navar */
.navbar {
  display: flex !important;
  justify-content: space-evenly;
  margin-top: 3%;
  align-items: center;
}
.navbar > a {
  color: #ffffff;
  font-size: 16px;
  text-decoration: none;
  transition: 0.8s;
}
.navbar > a:hover {
  color: #cdaa7d;
  text-decoration: underline;
}
/* navar */
